<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">
	<title>Simple Board</title>
	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Bootstrap Custom CSS -->
	<link href="/css/starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="/css/edit-bootstrap.css" th:href="@{/css/edit-bootstrap.css}" rel="stylesheet">
</head>

<body>
	<!-- header -->
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg bg-secondary fixed-top">
			<div class="container">
				<!-- アプリタイトル -->
				<a class="navbar-brand text-white" href="#" th:href="@{/board/index}">Simple Board</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
					aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<!-- ボタン -->
					<ul class="navbar-nav ml-auto">
						<button class="btn btn-primary my-2 my-sm-0">つぶやき登録</button>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<main role="main" class="container">
		<div class="starter-template">
			<h1 th:text="${title}">Insert title here</h1>
		</div>
		<!-- flash -->
		<div th:unless="${#strings.isEmpty(complete)}">
			<div th:text="${complete}" class="alert alert-success" role="alert">A simple success alert—check it out!</div>
		</div>
		<!-- table -->
		<table class="table table-hover">
			<!-- table-header -->
			<thead class="thead-light">
				<tr>
					<th class="text-center" scope="col" style="width: 15%">タイトル</th>
					<th class="text-center" scope="col" style="width: 55%">つぶやき</th>
					<th class="text-center" scope="col" style="width: 20%">更新日</th>
					<th class="text-center" scope="col" style="width: 10%">詳細</th>
				</tr>
			</thead>
			<!-- table-body -->
			<tbody>
				<tr th:each="board : ${boardList}">
					<td class="align-middle" th:text="${board.title}"></td>
					<td class="align-middle" th:text="${board.content}"></td>
					<td class="text-center align-middle" th:text="${#temporals.format(board.updatedAt, 'yyyy/M/d H:mm')}"></td>
					<td class="text-center align-middle">
						<button class="btn btn-outline-primary">みる</button>
					</td>
				</tr>
			</tbody>
		</table>
	</main>

	<!-- script -->
	<div th:fragment="script">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
		<script src="../../assets/js/vendor/popper.min.js" th:src="@{/js/popper.min.js}"></script>
		<script src="../../dist/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
	</div>
</body>

</html>